<div class="layout layout--col layout--center gap">
  <span class="label label--medium">It has been</span>
  <span class="value value--mega" data-fit-value="true">{{ display_days }}</span>
  <span class="label label--medium">days since {{ display_label }}</span>
</div>

<div class="title_bar">
  {{ title_bar_icon }}
  <span class="title">{{ trmnl.plugin_settings.instance_name }}</span>
  <span class="instance">Days Since Last X</span>
</div>
